<header class="site-header">
<link rel="stylesheet" href="index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">

<!--home-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
<!--blog note-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
<!--calender-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
<!--code-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
<!--controller-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<section class="header">
<nav>
  <div class="nav-links">
      <ul>
        <li class="fork"><a href="{{site.baseurl}}/">
          <span class="material-symbols-outlined">
          home
          </span></a></li>
          <li class="fork"><a href="{{site.baseurl}}/snake">
            <span class="material-symbols-outlined">
              joystick
              </span></a></li>
        <li class="fork"><a href="{{site.baseurl}}/csa">
          <span class="material-symbols-outlined">
          calendar_month
          </span></a></li>
          <li class="fork"><a href="{{site.baseurl}}/blogs">
            <span class="material-symbols-outlined">
            edit_note
            </span></a></li>
        <li class="title"><a href="{{ site.github.repository_url }}/#readme">
          <span class="material-symbols-outlined">
          code
          </span></a></li>
        <!--<li class="fork"><a style="font-size: 40px" href="{{site.baseurl}}/">Home</a></li>-->
        <!--<li class="fork"><a style="font-size: 40px" href="{{site.baseurl}}/csp">Plans</a></li>-->
        <!--<li class="fork"><a style="font-size: 40px" href="{{site.baseurl}}/csa">Schedule</a></li>-->
        <!--<li class="fork"><a style="font-size: 40px" href="{{site.baseurl}}/blogs">Blogs</a></li>-->
        <!--<li class="fork"><a style="font-size: 40px" href="{{site.baseurl}}/#readme">GitHub</a></li>-->
      </ul>
    </nav>
  </div><!-- end header -->
</header>
