<header class="site-header">
<body></body>
<link rel="stylesheet" href="index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
<section class="header">
<nav>
  <div class="nav-links">
      <ul>
        <li class="fork"><a style="font-size: 40px" href="https://lunaiwa.github.io/student-template/">Home</a></li>
        <li class="fork"><a style="font-size: 40px" href="https://lunaiwa.github.io/csp">Plans</a></li>
        <li class="fork"><a style="font-size: 40px" href="https://lunaiwa.github.io/csa">Schedule</a></li>
        <li class="fork"><a style="font-size: 40px" href="https://lunaiwa.github.io/blogs">Blogs</a></li>
        <li class="title"><a style="font-size: 40px" href="https://github.com/lunaiwa/student-template/#readme">GitHub</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</body>
</header>
