<div class="Box box-shadow-medium rounded-1 col-12">

<link rel="stylesheet" href="index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">

    <div class="col-8 d-table-cell p-3">
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p class="post-meta">{{ post.date | date: date_format }}</p>
        <p class="post-meta-description">{{ post.description }}</p>
      </div>
  </div>

<style>

</style>