<span class="read-time" title="Estimated read time">

<link rel="stylesheet" href="index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">

    {% assign words = content | strip_html | number_of_words %}
    {% if words < 120 %}
      1 min read
    {% else %}
      {{ words | divided_by:60 }} min read
    {% endif %}
</span>
